################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Datawarehouse/.vs/Datawarehouse/v15/Server/sqlite3
